<a href="/product/123" class="product-item-link">
  <div class="product-item">
    <div class="product-img">
      <img src="<%= /imgs/+producto.img %> " alt="" />
    </div>
    <div class="product-info">
      <div class="product-name">
        <span> <%= producto.title %> </span>
      </div>
      <div class="product-price">
        <span><%= producto.price %> </span>
        <span>PUNTOS SUPERCLUB</span>
      </div>
    </div>
  </div>
</a>
