<div class="tepuedeinteresar cont-products-items">
  <h3>Te puede interesar</h3>
  <div>
    <% otrosproductos.forEach(producto => { %> <%- include("product-item" ,
    {producto}) %> <% }) %>
  </div>
</div>
