header {
    width: 100%;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    align-items: center;
    border-bottom: solid 2px #ccc;
    position: relative;
    z-index: 100;
}

.header-flex {
    padding: 20px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo-flex {
    padding: 20px 16px;
}

.desktop-logo {
  display: none;
}

.search-bar {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  height: 32px;
}

.search-bar input {
  width: 100%;
  height: 32px;
  border-radius: 16px;
  border: solid 1px #ccc;
  padding: 8px 16px;
  color: rgba(0, 0, 0, 1);
  background: rgba(255, 255, 255, 1);
}

.search-bar button {
  height: 32px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  bottom: 32px;
  left: 85%;
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.header-buttons a {
    text-decoration: none;
}

.cart-button {
    width: 32px;
    height: 32px;
    background: rgba(73, 79, 81, 1);
    border: none;
    border-radius: 16px;
    padding: 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-button:hover {
    background: var(--red);
}

.products-num {
    border-radius: 8px;
    width: 12px;

    color: white;
    position: relative;
    bottom: 22px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-button {
  width: auto;
  height: 32px;
  background: rgba(73, 79, 81, 1);
  border: none;
  border-radius: 16px;
  padding: 4px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}

.user-button img {
    width: 24px;
    height: 24px;
}

.user-button:hover {
    background: rgba(236, 0, 0, 1);
}

.username-button {
  display: none;
}

.redirect-button {
  width: 32px;
  height: 32px;
  background: rgba(73, 79, 81, 1);
  border: none;
  border-radius: 16px;
  padding: 4px 8px;
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  cursor: pointer;
}

.redirect-button img {
    width: 24px;
    height: 24px;
}

.redirect-button:hover {
    background: rgba(236, 0, 0, 1);
}

.redir-text {
  display: none;
}

@media (min-width: 800px) {
  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .search-bar button {
    left: 95%;
  }

  .username-button {
    display: block;
    padding-right: 4px;
  }

  .redirect-button {
    width: auto;
  }

  .redir-text {
    display: block;
  }

  .redir-icon {
    display: none;
  }
}
@media (min-width: 1072px) {
    .header-buttons {
        position: relative;
    }
}
