.div-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1%;
  padding-top: 5%;
  position: relative;
  top: -250px;
}

.div-adentro {
  background-color: white;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-form h2 {
  padding-top: 20px;
  margin: 5px;
  padding-left: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}

.div-form input {
  padding: 2.5%;
  margin: 3%;
  width: 100%;
  border-radius: 20px;
  border: solid 2px #ccc;
}

.div-form button {
  padding: 2.5%;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 20px;
  background-color: #494f51;
  color: white;
  border: none;
}

.texto-abajo {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  top: -250px;
}

.links {
  color: black;
}

.cuerpo-rojo {
  height: 250px;
  background-color: var(--red);
}

.remember-check {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #494f51;
}

.remember-check input {
  width: auto;
}

#modalLogin {
  width: 30%;
  z-index: 10;
  position: absolute;
  top: 33%;
  left: 35%;
  padding-bottom: 20px;
}

.texto-modal {
  text-align: center;
  padding: 1.5px;
}

.botonModal {
  padding: 2%;
  width: 45%;
  border-radius: 20px;
  background-color: #494f51;
  color: white;
  border: none;
  margin-left: 28%;
}

.div-modal {
  background-color: white;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

#modalLogin h3 {
  padding-top: 3%;
  color: red;
  text-decoration: underline;
}

#modalLogin p {
  font-weight: bold;
}

@media (max-width:600px){
  .texto-modal{
    font-size: 12px;
  }
  #modalLogin{
    width: 50%;
    left: 25%;
  }
  .botonModal{
    width: 80%;
    margin-left: 10%;
  }
}