@media (min-width: 361px) {
}

@media (min-width: 724px) {
  .copyright-up {
    display: block;
  }

  .copyright-down {
    display: none;
  }

  .mobile-logo {
    display: none;
  }

  .desktop-logo {
    display: block;
  }

  .search-bar button {
    left: 95%;
  }

  .username-button {
    display: block;
    padding-right: 4px;
  }

  .redirect-button {
    width: auto;
  }

  .redir-text {
    display: block;
  }

  .redir-icon {
    display: none;
  }
}
