<div hidden id="modalLogin" class="div-adentro ">

    <h3 class="texto-modal">Error de validación</h3>
    <br>
    <p class="texto modal">El email o la contraseña que fueron ingresados son incorrectos</p>
    <br>
    <p class="texto-modal">Inténtelo de nuevo</p>
    <br>
    <button onclick="closeModal()">Ok</button>
</div>