<div hidden id="modalLogin" class="div-modal">

    <h3 class="texto-modal">Error de validación</h3>
    
    <br>

    <p class="texto-modal">El email o la contraseña que fueron ingresados son incorrectos.</p>

    <br>

    <button class="botonModal" onclick="closeModal()">Inténtelo de nuevo</button>

</div>