<div class="tepuedeinteresar cont-products-items">
    <h3>Te puede interesar</h3>
    <div>
        <% products.forEach((product, i) => { %>
            <% if (i < 5) { %>
                <%- include("product-item", {product}) %>
            <% } %>
        <% }); %>
    </div>
</div>